layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                color_bg          "#282828"
                color_fg          "#ebdbb2"
                color_red         "#fb4934"
                color_green       "#b8bb26"
                color_yellow      "#fabd2f"
                color_blue        "#83a598"
                color_magenta     "#d3869b"
                color_cyan        "#8ec07c"
                color_orange      "#fe8019"
                color_gray        "#928374"

                format_left   "#[fg=$bg,bg=$yellow,bold] {mode} #[fg=$yellow,bg=$bg] {session} "
                format_center "{tabs}"
                format_right  "#[fg=$green]{command_load}  #[fg=$blue]{datetime} "

                mode_normal        "NORMAL "
                mode_locked        "#[fg=$bg,bg=$red,bold] LOCKED "
                mode_pane          "#[fg=$bg,bg=$green,bold] PANE "
                mode_tab           "#[fg=$bg,bg=$blue,bold] TAB "
                mode_resize        "#[fg=$bg,bg=$magenta,bold] RESIZE "
                mode_scroll        "#[fg=$bg,bg=$cyan,bold] SCROLL "
                mode_session       "#[fg=$bg,bg=$orange,bold] SESSION "
                mode_default_to_mode "normal"

                tab_normal              "#[fg=$gray,bg=$bg] {index} {name} "
                tab_active              "#[fg=$bg,bg=$yellow,bold] {index} {name} "

                command_load_command     "sh -c \"uptime | awk -F'load averages:' '{print \\$2}' | awk '{print \\$1\\\" \\\"\\$2\\\" \\\"\\$3}'\""
                command_load_format      "load:{stdout}"
                command_load_interval    "5"
                command_load_rendermode  "static"

                datetime           "{format}"
                datetime_format    "%Y-%m-%d %H:%M"
                datetime_timezone  "Europe/Moscow"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="monitor" focus=true {
        pane split_direction="horizontal" {
            pane size="50%" command="htop"
            pane split_direction="vertical" {
                pane name="shell"
                pane name="logs" command="sh" {
                    args "-lc" "echo 'tip: log stream -level debug  |  tail -F /var/log/system.log'; exec $SHELL"
                }
            }
        }
    }

    tab name="net" {
        pane split_direction="horizontal" {
            pane command="sh" {
                args "-lc" "echo 'tip: lsof -nP -iTCP -sTCP:LISTEN'; exec $SHELL"
            }
            pane
        }
    }

    tab name="shell" {
        pane
    }
}
